html {
  font-size: 14px;
}

body {
  margin: 0px;
}

#content {
  padding: 1rem;
}

.write_prompt {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.prompt-child {
  margin-right: 1rem;
}

#prompt-heading {
  display: flex;
  align-items: center;
}

.feed_item {
  display: flex;
  justify-content: space-between;
  border: 1px solid lightblue;
  box-shadow: 2px 2px 4px cornflowerblue;
  border-radius: 4px;
  padding: .5rem;
}

.post_metadata {
  font-size: .85rem;
}

.post_author {
  font-weight: bold;
}

.post_timestamp {
  font-weight: light;
}